.button {
    padding: 5px 25px;

    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    color: white;

    background-color: transparent;
    border: 0 none;
    border-radius: 5px;

    box-shadow: 10px 10px 30px $red3, 
    -10px -10px 30px $red3;

    &:hover,
    &:focus {
        color: rgba(white, 0.7)
    }

    &:active {
        color: rgba(white, 0.3);
    }

    cursor: pointer;
}

.button--clear {
    box-shadow: none;;
}

@media (min-width: $tablet-width) {
    .button {
        font-size: 20px;

        border-radius: 10px;

    }
}

@media (min-width: $desktop-width) {
    .button {
        padding: 10px 25px;

        font-size: 24px;

        border-radius: 10px;
    }
}