.input-checkbox__input {
  display: none;
}

.input-checkbox__input + .input-checkbox__label {
  position: relative;
  padding-right: 177px;
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    width: 87px;
    height: 26px;
    background-image: url("../img/icon-radio-off.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

}

.input-checkbox__input:checked + .input-checkbox__label {
  &::after {
    background-image: url("../img/icon-radio-on.svg");
  }
}
