.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.page-main__timer {
  margin: 0;
  margin-bottom: 5px;
}

.page-main__counter {
  margin: 0;
  margin-bottom: 97px;
}

.page-main__controls-set {
  position: relative;
  padding-right: 73px;
}
