.page-footer {
    position: fixed;
    bottom: 0px;
}

.page-footer__counter {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
}

@media (min-width: $tablet-width) {
    .page-footer__counter {
        font-size: 20px;
    }
}

@media (min-width: $desktop-width) {
    .page-footer__counter {
        font-size: 22px;
    }
}