.skip-button {
  position: absolute;
  top: 0;
  right: 25px;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  background-image: url("../img/icon-skip.svg");
  background-size: cover;
  border: none;

  &:hover,
  &:focus {
    background-image: url("../img/icon-skip-hover.svg");
  }

  &:active {
    opacity: 0.75;
  }

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .skip-button {
    width: 55px;
    height: 55px;
  }
}
