.timer {
    display: flex;
    justify-content: center;
    padding: 0;

    font-weight: 700;
    font-size: 80px;
    text-align: center;
}

@media (min-width: $tablet-width) {
  .timer {
    font-size: 216px;
    line-height: 216px;
}
}
