@font-face {
  font-style: normal;
  font-weight:200;
  font-family: "Ruberoid";

  font-display: swap;
  src: url("../fonts/Ruberoid-UltraLight.woff2"), url("../fonts/Ruberoid-UltraLight.woff");
}

@font-face {
  font-style: normal;
  font-weight:500;
  font-family: "Ruberoid";

  font-display: swap;
  src: url("../fonts/Ruberoid-Medium.woff2"), url("../fonts/Ruberoid-Medium.woff");
}

@font-face {
  font-style: normal;
  font-weight:700;
  font-family: "Ruberoid";

  font-display: swap;
  src: url("../fonts/Ruberoid-Bold.woff2"), url("../fonts/Ruberoid-Bold.woff");
}
