@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Oswald";
  
    font-display: swap;
    src: url("../fonts/oswald-v31-latin-regular.woff2"), url("../fonts/oswald-v31-latin-regular.woff");
  }

  @font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Oswald";
  
    font-display: swap;
    src: url("../fonts/oswald-v31-latin-700.woff2"), url("../fonts/oswald-v31-latin-700.woff");
  }