body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;

  font-family: "Ruberoid", "Arial", sans-serif;
  color: white;

  background-color: $red1;
}

button {
  outline: none;
}
